@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* ------------------ Общие стили ------------------ */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    color: #6A859C;
    line-height: 1.8;
}

.common-section {
    min-height: 100vh;
    text-align: center;
    padding: 80px 0;
}

.title {
    margin-bottom: 60px;

    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 5px;

    text-transform: uppercase;

    color: #676770;
}

.dark {
    background-color: #192024;
}

.dark * {
    color: #fff;
}

.cards-wrapper {
    display: flex;
    justify-content: space-between;
}

.card h4 {
    margin-bottom: 15px;

    font-size: 20px;
    line-height: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

hr {
	margin: 20px 0;
	border-top: 1px solid #94999c;
}

.hide {
    display: none !important;
}

/* ------------------ Header styles ------------------ */
.header {
    padding: 15px 0;
    width: 100%;
    height: 60px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-weight: 600;

    letter-spacing: 4px;
    text-transform: uppercase;

    color: #0082F3;
}

.header__nav ul {
    display: flex;

}

.header__nav li+li {
    margin-left: 40px;
}

.header__nav a {
    font-size: 16px;
    color: #676770;
    transition: color 0.2s;
}

.header__nav a:hover {
    color: #0082F3;
}

.header__nav a:active {
    color: #0062B6;
}

/* ------------------------ Main part styles ------------------------ */

/* ------------------ WELCOME ------------------ */
.welcome {
    min-height: 400px;
    /* 600px */
    height: 100vh;
    padding: 150px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    text-align: center;

    /*background-image: url("images/books.jpg");
    background-size: cover;
    background-position: center;*/
}

.welcome__heading {
    margin-bottom: 100px;

    font-size: 50px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.welcome__links>*+* {
    margin-left: 20px;
}

.link-primary {
    display: inline-block;
    padding: 11px 30px;

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

    background-color: #69B9FF;
    border-radius: 6px;

    transition: background-color 0.2s;
}
.link-primary:hover {
    background-color: #7CC2FF;
}
.link-primary:active {
    background-color: #0F8FFF;
}

.link {
    display: inline-block;
    padding: 10px 30px;

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

    border: 1px solid #fff;
    border-radius: 6px;

    transition: background-color 0.2s;
}
.link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.link:active {
    background-color: rgba(0, 0, 0, 0.4);
}

.link-white {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;

    font-size: 16px;
	font-weight: 700;
    letter-spacing: 2px;
	text-transform: uppercase;

    border-radius: 15px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .3);

    background-color: #87c6fd;
    
    transition: all 0.1s ease-in-out;
}
.link-white:hover {
	background-color: #fffcee;
	border: solid 3px #69B9FF;
    transform: scale(0.95);
}
.link-white:active {
    background-color: #e9e9e9;
    transform: scale(0.98);
}
.link-white:focus {
    outline: none;
    box-shadow: 0 0 0 2px lightskyblue;
}

/* ------------------ ABOUT (WHAT WE DO) ------------------ */
.about .card {
    width: 300px;
    padding: 36px 15px 10px 15px;

    border: 1px solid #DCEBF7;
    border-radius: 5px;
}

.about .card img {
    margin-bottom: 20px;

    width: 94px;
    height: 94px;
}

.about .card h4 {
    color: #676770;
}

/* ------------------ MEETINGS HELD ------------------ */
.meetings .card {
    width: 35%;
}

.meetings .card img {
    margin-bottom: 20px;

    width: 100px;
    height: 100px;
}

.meetings .link {
    margin-top: 15px;
}

/* ------------------ RECOMMENDED POEMS ------------------ */
.poems__nav button + button {
    margin-left: 30px;
}

.poems__nav button {
    padding: 0 30px;

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;

    background-color: #92A0AD;
    border-radius: 4px;
}

.poems__nav button.active {
    background-color: #2E80B6;
}

.poems h4 {
    margin-top: 50px;
    margin-bottom: 15px;

    font-size: 25px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000;
}

.poems .poem {
    display: table;
    margin: 0 auto;

    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
    color: #000;
    
    word-wrap: break-word;
}


/* ------------------ FOOTER ------------------ */
.footer__desc {
    margin: 35px 0;
}

.footer__desc a {
    font-size: 14px;
    line-height: 1.5;
    color: #4b98db;
    transition: color 0.3s;
}
.footer__desc a:hover {
    color: #2971af;
}

.footer__desc li {
    height: 30px;

    position: relative;
}

.footer__desc li::before {
    content: "";
    width: 100%;
    height: 1px;

    position: absolute;
    right: 0;
    bottom: 0;

    background-color: #D5D5E0;
}

.footer__social li::before {
    width: calc(100% - 34px)
}

.footer__desc li + li {
    margin-top: 6px;
}

.footer__desc-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__desc-container > * {
    width: 30%;
}

.footer__desc h4 {
    margin-bottom: 25px;

    font-size: 18px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;

    color: #676770;
}

.footer__social img {
    margin-right: 10px;

    width: 20px;
    height: 20px;
    object-fit: contain;
}

.footer__copy {
    padding: 40px 0;
    background-color: #383838;
}

.footer__copy p {
    text-align: center;
    color: #9E9E9E;
}