@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* ------------------ Общие стили ------------------ */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    /*color: #6A859C;*/
    color: #586c7e;
    line-height: 1.8;
}

.common-section {
    min-height: 100vh;
    text-align: center;
    padding: 80px 0;
}

.title {
    margin-bottom: 60px;

    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 5px;

    text-transform: uppercase;

    color: #676770;
}

.dark {
    /*background-color: #192024;*/
    background-color: #1d2b33;
}

.dark * {
    color: #fff;
}

hr {
	margin: 20px 0;
	border-top: 1px solid #acafb1;
}

.hide {
    display: none !important;
}

/* ------------------ Header styles ------------------ */
.header {
    padding: 15px 0;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-weight: 600;

    letter-spacing: 4px;
    text-transform: uppercase;

    color: #0082F3;
}

.header__nav ul {
    display: flex;

}

.header__nav li+li {
    margin-left: 45px;
}

.header__nav a {
    font-size: 16px;
    color: #676770;
    transition: color 0.2s;
}

.header__nav a:hover {
    color: #0082F3;
}

.header__nav a:active {
    color: #0062B6;
}

/* ------------------------ Main part styles ------------------------ */

/* ------------------ WELCOME ------------------ */
.welcome {
    height: 100vh;
    padding: 100px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    text-align: center;

    /*background-image: url("images/books.jpg");
    background-size: cover;
    background-position: center;*/
}

.welcome__heading {
    margin-bottom: 100px;

    font-size: 50px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.welcome__links > * + * {
    margin-left: 20px;
}

.link-primary {
    display: inline-block;
    padding: 11px 30px;

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

    background-color: #69B9FF;
    border-radius: 6px;

    transition: background-color 0.2s;
}
.link-primary:hover {
    background-color: #7CC2FF;
}
.link-primary:active {
    background-color: #0F8FFF;
}

.link {
    display: inline-block;
    padding: 10px 30px;

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

    border: 1px solid #fff;
    border-radius: 6px;

    transition: background-color 0.2s;
}
.link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.link:active {
    background-color: rgba(0, 0, 0, 0.4);
}

/* ------------------ ABOUT (WHAT WE DO) ------------------ */
.cards-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 300px;
    padding: 36px 15px 10px 15px;

    border: 1px solid #DCEBF7;
    border-radius: 5px;
}

.card img {
    margin-bottom: 20px;

    width: 120px;
    height: 120px;
}

.card h4 {
    margin-bottom: 15px;

    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 3px;
    text-transform: uppercase;
    
    color: #676770;
}

/* ------------------ MEETINGS HELD ------------------ */
.meetings .cards-wrapper {
    justify-content: space-around;
}

.meetings .card {
    border: 1px solid #929292;
}

.meetings .card h4 {
    color: #fff;
}


.meetings .link {
    margin-top: 15px;
}

/* ------------------ RECOMMENDED POEMS ------------------ */
.recomendations .title {
    margin-top: 50px;
}

.poems__nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    margin: 0 auto;
    margin-bottom: 30px;
    width: 52%;
}

.poems__nav button {
    padding: 0 30px;

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;

    background-color: #92A0AD;
    border-radius: 4px;
    transition: background-color 0.2s;
}
.poems__nav button:hover {
    background-color: #78818a;
}

.poems__nav button.active {
    background-color: #2E80B6;
}
.poems__nav button.active:hover {
    background-color: #1a679b;
}

.poems__nav button:active, .poems__nav button.active:active {
    background-color: #ced7dd;
    transform: scale(0.98);
}

.recomended-poems .poem {
    animation: fade 0.5s;
}

@keyframes fade {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

.recomended-poems h4 {
    margin-bottom: 15px;

    font-size: 25px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000;
}

.recomended-poems .poem p {
    display: table;
    margin: 0 auto;

    text-align: start;
    font-size: 15px;
    line-height: 1.5;
    color: #000;
    
    word-wrap: break-word;
}


/* ------------------ FOOTER ------------------ */
.footer__desc {
    margin: 35px 0;
}

.footer__desc a {
    font-size: 14px;
    line-height: 1.5;
    color: #4b98db;
    transition: color 0.3s;
}
.footer__desc a:hover {
    color: #2971af;
}

.footer__desc li {
    height: 30px;

    position: relative;
}

.footer__desc li::before {
    content: "";
    width: 100%;
    height: 1px;

    position: absolute;
    right: 0;
    bottom: 0;

    background-color: #D5D5E0;
}

.footer__social li::before {
    width: calc(100% - 34px)
}

.footer__desc li + li {
    margin-top: 6px;
}

.footer__desc-container {
    display: flex;
    /*justify-content: space-between;
    align-items: flex-start;*/
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer__desc-container > * {
    width: 300px;
}

.footer__desc h4 {
    margin-bottom: 25px;

    font-size: 18px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;

    color: #676770;
}

.footer__social img {
    margin-right: 10px;

    width: 20px;
    height: 20px;
    object-fit: contain;
}

.footer__copy {
    padding: 40px 0;
    background-color: #383838;
}

.footer__copy p {
    text-align: center;
    color: #9E9E9E;
}


/* ------------------ NAVIGATION IN MEETINGS ------------------ */
/*.link-white {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 30px;

    font-size: 16px;
	font-weight: 700;
    letter-spacing: 2px;
	text-transform: uppercase;

    border-radius: 15px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .3);

    background-color: #87c6fd;

    transition: all 0.1s ease-in-out;
}
.link-white:hover {
	background-color: #fffcee;
	border: solid 3px #69B9FF;
    transform: scale(0.95);
}
.link-white:active {
    background-color: #e9e9e9;
    transform: scale(0.98);
}
.link-white:focus {
    outline: none;
    box-shadow: 0 0 0 2px lightskyblue;
}*/

.navigate-meetings .card {
    width: 48%;
    border: 1px solid #bbe0ff;
}

.navigate-meetings .card p {
    margin: 0 0;

    text-align: justify;
    text-indent: 20px;
}

.navigate-meetings .card img {
    margin-bottom: 20px;

    width: 200px;
    height: 200px;
}


/* ------------------ BUTTON TO GO UP ------------------ */
.btn-up {
    position: fixed;
    background-color: #0082F3;
    right: 20px;
    bottom: 20px;
    border-radius: 22px;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

.btn-up::before {
    content: "";
    text-align: center;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
}

@media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
        background-color: #1061a8;
    }
}



/* ------------------ ADAPTIVE DESIGN ------------------ */
@media (max-width: 900px) {
    .title {
        font-size: 26px;
    }

    /* */
    .navigate-meetings .cards-wrapper {
        flex-direction: column;
    }

    .navigate-meetings .card {
        margin: 0 auto;
        width: 90%;
    }

    /* */
    .footer__desc-container {
        gap: 40px;
    }

    .footer__desc h4 {
        margin-bottom: 10px;
    }
}

@media (max-width: 550px) {
    body {
        font-size: 13px;
    }

    .title {
        margin-bottom: 30px;

        font-size: 22px;
        letter-spacing: 4px;
    }

    /* */

    .header {
        padding: 8px 0;
    }

    .logo {
        font-size: 20px;
    }

    .header__nav li+li {
        margin-left: 20px;
    }

    .header__nav a {
        font-size: 14px;
    }

    /* */
    
    .welcome__heading {
        margin-bottom: 50px;
    
        font-size: 38px;
        letter-spacing: 3px;
    }
    
    .welcome__links > * {
        display: block;
        margin: 10px auto 0 auto;
        width: 70%;
    }

    /* */

    .card {
        padding: 10px 15px;
    }
    
    .card img {
        margin-bottom: 10px;
    
        width: 100px;
        height: 100px;
    }

    .card h4 {
        margin-bottom: 5px;
    }

    /* */
    .navigate-meetings .card {
        width: 100%;
    }

    /* */
    .footer__copy {
        padding: 20px 0;
    }

    .footer__copy p {
        font-size: 12px;
    }

    /* */
    .recomended-poems h4 {
        font-size: 22px;
    }
    
    .recomended-poems .poem p {
        font-size: 14px;
    }

    /* */
    .btn-up {
        right: 15px;
        bottom: 15px;
        width: 40px;
        height: 40px;
    }

    .btn-up::before {
        width: 18px;
        height: 18px;
        left: 10px;
        top: 10px;
    }
}

@media (max-width: 380px) {
    body {
        font-size: 12px;
    }

    .title {
        margin-bottom: 20px;
        font-size: 18px;
    }

    /* */
    
    .logo {
        font-size: 18px;

        letter-spacing: 2px;
    }

    .header__nav li+li {
        margin-left: 15px;
    }

    .header__nav a {
        font-size: 13px;
    }

    /* */
    
    .welcome__heading {
        font-size: 34px;
        letter-spacing: 3px;
    }
    
    .welcome__links > * {
        width: 80%;
        font-size: 15px;
    }

    /* */    
    .card img {
        width: 90px;
        height: 90px;
    }
    
    .card h4 {
        font-size: 16px;
    }

    /* */
    .footer__copy {
        padding: 10px 0;
    }

    /* */
    .poems__nav {
        gap: 15px;
        margin-bottom: 20px;
    }

    .poems__nav button {
        padding: 0 20px;
    
        font-size: 14px;
    }

    .porecomended-poemsems h4 {
        margin-bottom: 5px;
    
        font-size: 20px;
    }
    
    .recomended-poems .poem p {
        font-size: 12px;
    }

    /* */
    .btn-up {
        right: 12px;
        bottom: 12px;
        width: 35px;
        height: 35px;
    }

    .btn-up::before {
        width: 15px;
        height: 15px;
        left: 9px;
        top: 9px;
        background-size: 17px 17px;
    }
}